    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: aqua;
        }
        /* create.ejs */
        #crt-div {
            display:block;
            padding: 10% 20%;
        }
        .crt-item {
            width: 100%;
            align-self: center;
            border: black solid 2px;
        }
        #crt-title {
            text-align: center;
        }
        #crt-save {
            background-color: green;
        }
        #crt-cancel {
            background-color: red;
        }
        
        /* main.ejs */
        #main-create-div {
            padding-left: 30%;
        }
        #main-create-btn {
            width: 50%;
            height: 50%;
        }
        .main-btn-class {
            color: crimson;
            background-color: black;
        }
        .main-h3-class{
            text-align: center;
        }
        .main-p-class{
            vertical-align: top;
        }
        .main-body-class{
            padding: 3% 20%;   
        }
        .main-note-div {
            height: 40%;
            width: 40%;
            border: black solid 2px;
            display: inline-block;
        }
        .btn-class-div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
       

        /* update.ejs */
        #upd-div {
            display:block;
            padding: 10% 20%;
        }
        .upd-item {
            width: 100%;
            align-self: center;
            border: black solid 2px;
        }
        #upd-title {
            text-align: center;
        }
        #upd-save {
            background-color: green;
        }
        #upd-cancel {
            background-color: red;
        }

        /* view.ejs */
        #view-div {
            text-align: center;
        }

    </style>