<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>
<body>
    <div id="upd-div">
        <input class="upd-item" id="upd-title" value="<%= note.title %>" type="text">
        <br>
        <textarea class="upd-item" name="" id="" cols="30" rows="10"><%= note.snip %></textarea>
        <br>
        <button class="upd-item"  id="upd-save">Save</button>
        <br>
        <a href='/main'><button class="upd-item"  id="upd-cancel">Cancel</button></a>
    </div>

</body>
</html>