<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>
<body>
    <div  id="view-div">
        <h1><%= note.title %></h1>
        <p><%= note.snip %></p>
    </div>
</body>
</html>